body{
    background-image: url(afbeeldingen/image.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 6em;
    background-size: 80em;
    margin: 0;
    background-color: rgb(173, 175, 176);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
header{
    font-size: 300%;
    padding: 0.4em;
    background-color:rgb(255, 231, 192);
    display: flex;
    justify-content: center;
}
.doorzichtig{
    opacity: 0.0;
}


img{
    width: 15em;
    height: 15em;
}
main{
    width: 50%;
    
    position: fixed;
    top: 300px;
    left: 300px;
}



.hidden {
    display: none;
}
#koppelpoort-button {
    position: fixed;
    left: 380px;
    top: 120px;
    width: 50px;
    height: 50px;

}


#lievev-button{
    position: fixed;
    left: 500px;
    top: 420px;
    width: 50px;
    height: 50px;
    
}

#joris-button{
    position: fixed;
    left: 650px;
    top: 300px;
    width: 50px;
    height: 50px;
}

#Kamperbinnenpoort-button{
    position: fixed;
    left: 800px;
    top: 210px;
    width: 50px;
    height: 50px;
}

#Tinnenburg-button{
    position: fixed;
    left: 850px;
    top: 470px;
    width: 50px;
    height: 50px;
}

.kruis{
    width: 80px;
    height: 80px;
    align-self: flex-start;
}

div{
    display: flex;
    column-gap: 1em;
    align-items: center;
    background-color: aliceblue;
    transform: scale(1.5, 1.5);
    
}

footer{
    position: fixed;
    top: 700px;
}


